body{
  background-color: #1E262C;
}
form{
  font-family: Arial, Helvetica, "Times New Roman";
  color: #1E262C;
  margin: 3em auto 3em auto;
  width: 45em;
  border: 4px solid white;
  background-color: #710627;
}
#create{ margin:5em auto 5em auto;}
#log{ margin:7em auto 7em auto;}

legend {
  background-color: #521C25;
  border-bottom: 4px solid white;
  width: 98%;
  padding: 0.5em;
  color:white;
  text-align: center;
  font-weight: bold;
  font-size: 125%;
  margin-left: auto;
  margin-right: auto;
}
fieldset {
  padding-top: 0;
  margin:0;
  border: 0px;
}
form div{
  margin-top: .75em;
  font-weight: bold;
  padding:0 .25em 0 .25em;
}
div label {
  clear: both;
}

.centered{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  clear: both;
}
input.box{
  float: right;
  width: 55%;
  border:2px solid #1E262C;
  background-color: white;
  color: #1E262C;
}
input.button{
  background-color: #521C25;
  color:white;
  padding: .25em;
  border: 1px solid white;
  margin-bottom: 0.25em;
}
#eInput, #pInput{ width: 75%;}

.invalid{
  background-color: red;
  float: right;
  width: 55%;
  border:1px solid #521C25;
}
.invalid2{
  background-color: red;
  float: right;
  width: 55%;
  border:1px solid #521C25;
}
.notes{
  font-size: 50%;
  clear:both;
  padding-left: 0.5em;
}
